@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

/* text white: text-[#F4F3F1F0] */

/* text-black: text-[#222222] */
p {
  color: #f4f3f1f0;
  font-weight: 500;
}

/* header font-sizes based on Figma design */
h1 {
  font-size: 32px;
  font-weight: 700;
  color: #f4f3f1f0;
}

h2 {
  font-size: 26px;
  font-weight: 500;
  color: #f4f3f1f0;
}

h3 {
  font-size: 24px;
  color: #f4f3f1f0;
}

h4 {
  font-size: 22px;
  color: #f4f3f1f0;
}

.custom-text-shadow {
  text-shadow: 2px 2px #000000;
}
